@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #656565;
}

.mainSection {
    background-color: white;
    margin: 0px 4rem 0rem 4rem;
    padding-bottom: 3rem;
    padding: 0rem 2rem;
}

main {
    flex-grow: 1; /* Faz com que o main cresça para ocupar o espaço restante */
    display: grid;
    grid-template-columns: 82.5% 17.5%;
    height: auto; /* Ajusta a altura dinamicamente */
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    main {
        grid-template-columns: 100%;
    }
}