* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-color: rgb(185, 185, 185);
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 10px;
}
.options {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}

.options button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #d9d9d9;
  border: none;
  transition: all 0.25s ease-in-out;
  font-weight: 600;
}

.options button.active {
  background-color: #19882c;
  color: white;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.35);
}

.options button:hover {
  background-color: #19882c;
  color: white;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.35);
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movementHistory_Content {
  padding-inline: 20px;
}

.content {
  display: none;
}
.content.active {
  display: flex;
  flex-direction: column;
}

.movementHistory,
.userPerformace,
.siproquimMap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-color: rgb(185, 185, 185);
  border-style: solid;
  border-width: 2px;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
}

.forms label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-weight: bold;
}

.forms input,
select {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  width: 50rem;
  height: 50px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-shadow: 0px 2px 2px rgb(130, 130, 130);
  padding-inline: 20px;
  border-radius: 30px;
}

.forms input[type="date"] {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.forms button {
  margin-top: 3rem;
  padding-inline: 5rem;
  padding-block: 0.5rem;
  border-radius: 100px;
  background-color: #19882c;
  color: white;
  transition: all 0.25s ease-in-out;
}

.forms button:hover {
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.35);
  padding-inline: 5.5rem;
  color: white;
  background-color: rgba(138, 255, 158, 1);
  font-weight: 700;
  color: black;
}
