* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  margin: 20px 4rem 20px 4rem;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 10px;
}
.options {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}

.options button {
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  color: #19882c;
  border: none;
  transition: all 0.25s ease-in-out;
  font-weight: 600;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
}

.options button.active {
  background-color: #19882c;
  color: white;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.35);
}

.options button:hover {
  background-color: #19882c;
  color: white;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.35);
}

.forms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movementHistory_Content {
  padding-inline: 20px;
}

.content {
  display: none;
}
.content.active {
  display: flex;
  flex-direction: column;
}

.movementHistory,
.userPerformace,
.siproquimMap {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  padding: 3rem;
  border-radius: 10px;
  width: 100%;
}


.inputDiv {
  margin: .8rem;
}

.forms label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-weight: bold;
}

.forms input,
select, #select2 {
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-shadow: 0px 2px 2px rgb(130, 130, 130);
  border-radius: 10px;
  padding: .5rem;
  width: 400px;
}

.buttons {
  display: flex;
  width: 100%;
  grid-column: 1 / -1; /* Faz o item ocupar todas as colunas */
}


.forms .generate {
  margin-top: 3rem;
  padding-inline: 5rem;
  padding-block: 0.5rem;
  border-radius: 100px;
  background-color: #19882c;
  color: white;
  transition: all 0.25s ease-in-out;
  width: 100%;
}

.forms .generate:hover {
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.35);
  padding-inline: 5.5rem;
  color: white;
  background-color: rgba(138, 255, 158, 1);
  font-weight: 700;
  color: black;
}


table {
  margin-top: 2rem;
}