{% extends 'components/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/paginaUsuario.css' %}">
{% endblock %}


{% block content %}
    {% include 'components/navbar.html' %}
    {% include 'components/movements/form_modal.html' %}

    <main>
        <section class="mainSection">
            {% include 'components/page_indication/welcome.html' with text='Usuários' %}

            
            <!-- Container maior com informações gerais -->
            <article class="info-section">
                <h2 class="title">Usuários ativos</h2>
                <!-- Título da tabela de usuários -->
                <div class="user-header">
                    <div class="user-title">
                        <h2>NOME</h2>
                        <h2>FUNÇÃO</h2>
                        <h2>AÇÕES</h2>
                    </div>
                </div>

                <!-- container de gerenciar -->
                <div class="user-list">
                    {% for user in activeUsers %}
                        <div class="user-row">
                            <div class="user-info">
                                <div class="user-icon">{{user.user_image}}</div>
                                <div class="user-name">
                                    <abbr title="{{user.name}}">
                                        {{user.name}}
                                    </abbr>
                                </div>
                            </div>
                            <div class="user-role">{{user.get_sector_display}}</div>
                            <div class="user-action">
                                <a href="{% url 'manage_user' id=user.id %}"><button class="action-btn">VER MAIS</button></a>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Adicione mais usuários aqui -->
                </div>
            </article>

            <article class="info-section">
                <h2 class="title">Usuários inativos</h2>
                <!-- Título da tabela de usuários -->
                <div class="user-header">
                    <div class="user-title">
                        <h2>NOME</h2>
                        <h2>FUNÇÃO</h2>
                        <h2>AÇÕES</h2>
                    </div>
                </div>

                <!-- container de gerenciar -->
                {% if inactiveUsers|length > 0 %}
                <div class="user-list">
                    {% for user in inactiveUsers %}
                        <div class="user-row">
                            <div class="user-info">
                                <div class="user-icon">{{user.user_image}}</div>
                                <div class="user-name">
                                    <abbr title="{{user.name}}">
                                        {{user.name}}
                                    </abbr>
                                </div>
                            </div>
                            <div class="user-role">{{user.get_sector_display}}</div>
                            <div class="user-action">
                                <a href="{% url 'manage_user' id=user.id %}"><button class="action-btn">VER MAIS</button></a>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Adicione mais usuários aqui -->
                </div>
                {% else %}
                    {% include 'components/no_results.html' with text="Nenhum usuário inativo no momento" %}
                {% endif %}
            </article>
        </section>

        {% include 'components/sidebar.html' %}
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
