{% load static %}

<link rel="stylesheet" href="{% static 'css/movements/card.css' %}">

<div  class="movement_card {% if is_request %} card_request {% endif %} {% if is_removed %} is_removed {% endif %}">
    <div class="responsible">
        <div class="img_perfil">
            {{movement.fk_user.user_image}}
        </div>

        <div class="personal_info">
            <p class="name">{{movement.fk_user.name}}</p>
            <p class="sector">{{movement.fk_user.get_sector_display}}</p>
        </div>
    </div>

    <div class="movement_info">
        <div class="card_header">
            <h2>Item</h2>
        </div>

        <div class="card_body">
            <p class="name_reagent">{{movement.fk_reagent.name}}</p>
            <p>{{movement.fk_reagent.formula}}</p>
            <p>{{movement.fk_reagent.classification}}</p>
            <p>{{movement.get_movement_type_display}}</p>
            <p>{{movement.formatted_dt_movement}}</p>

            {% if is_request %}
                <button class="btn_show sty btn_show_move show_more" card_id="movement{{movement.id}}">Ver Mais</button>
            {% endif %}
        </div>

    </div>

    {% if is_request %}
        <div class="request_m_btns">
            <button class="approve actionButtons" url="{{request.urls.approve}}" data-id="{{ request.info.id }}">Aprovar</button>
            <button class="disapprove actionButtons" url="{{request.urls.desapprove}}" data-id="{{ request.info.id }}">Negar</button>
        </div>
    {% else %}
        <button class="btn_show btn_show_move {% if is_removed %} is_removed_button {% endif %}" card_id="movement{{movement.id}}">Ver Movimentação</button>
    {% endif %}
</div>

{% include 'components/movements/modal.html' %}