{% load static %}
{% load reports_tags %}
{% get_movement_form as form %}

<link rel="stylesheet" href="{% static 'css/movements/modal_form.css' %}">

<div class="back none" id="movement_form">
    <form class="movements_form none" id="movements_form_id">
        {% csrf_token %}
        <div class="modal_header">
            <img src="{% static 'imgs/icons/movimentações.svg' %}" alt="">
            <h2>Movimentação de Item</h2>
        </div>

        <div class="modal_body">
            <div class="group_inputs">
                <div class="body_item">
                    {{form.fk_reagent.label_tag}}
                    {{form.fk_reagent}}
                </div>
                <div class="body_item">
                    {{form.movement_type.label_tag}}
                    {{form.movement_type}}
                </div>
                <div class="body_item">
                    {{form.amount.label_tag}}
                    {{form.amount}}
                </div>
            </div>



            <div class="body_item wide">
                {{form.motivation.label_tag}}
                {{form.motivation}}
            </div>

            <div class="body_item validity_field none">
                {{form.validity.label_tag}}
                {{form.validity}}
            </div>

            <div class="body_item size_field none">
                {{form.size.label_tag}}
                {{form.size}}
            </div>
        </div>

        <div class="modal_btns">
            <button onclick="close_movement_form_modal()" type="button" class="close_modal">FECHAR</button>
            
            <button class="save" type="submit">Salvar</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('id_movement_type').addEventListener("change", function() {
        var validity_field = document.querySelector('.validity_field')
        var size_field = document.querySelector('.size_field')
        if (document.getElementById('id_movement_type').value == 'A') {
            validity_field.classList.remove('none')
            size_field.classList.remove('none')
        }
        else {
            validity_field.classList.add('none')
            size_field.classList.add('none')
        }
    })
    
    document.getElementById('movements_form_id').addEventListener('submit', function(event) {
        event.preventDefault(); // Evita o envio padrão do formulário

        const formData = new FormData(this); // Coleta os dados do formulário
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value; // Captura o token CSRF

        fetch('{% url "create_movement" %}', { // Substitua pelo endpoint correto da sua API
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfToken // Inclui o token CSRF nos cabeçalhos
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro na requisição: ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            close_modal()
            alert(data.message)
        })
        .catch((error) => {
            console.error('Error:', error);
            // Aqui você pode tratar o erro
            // Ex: Mostrar mensagem de erro para o usuário
        });
    });
</script>