{% load static %}

<link rel="stylesheet" href="{% static 'css/movements/modal.css' %}">

<div class="back none" id="movement{{movement.id}}">
    <article class="modal movements">
        <div class="modal_header">
            <img src="{% static 'imgs/icons/movimentações.svg' %}" alt="">
            <h2>Informações da Movimentação</h2>
        </div>

        <div class="modal_body">
            <div class="body_item">
                <p class="title">Reagent</p>
                <p class="reagent_info">{{movement.fk_reagent.name}}</p>
            </div>

            <div class="body_item">
                <p class="title">Fórmula Química</p>
                <p class="reagent_info">{{movement.fk_reagent.formula}}</p>
            </div>

            <div class="body_item">
                <p class="title">Classificação Química</p>
                <p class="reagent_info">{{movement.fk_reagent.classification}}</p>
            </div>

            <div class="body_item wide">
                <p class="title">Motivação</p>
                <p class="reagent_info">{{movement.motivation}}</p>
            </div>

            <div class="body_item">
                <p class="title">Tipo de Movimentação</p>
                <p class="reagent_info">{{movement.get_movement_type_display}}</p>
            </div>

            {% if movement.movement_type == 'A' %}
                <div class="body_item">
                    <p class="title">Validade</p>
                    <p class="reagent_info">{{movement.formatted_dt_validity}}</p>
                </div>
            {% endif %}

            <div class="body_item">
                <p class="title">Responsável</p>
                <p class="reagent_info">{{movement.fk_user}}</p>
            </div>
        </div>

        <div class="modal_btns">
            <button onclick="close_modal()" card_id="movement{{movement.id}}" class="close_modal btn_close">FECHAR</button>
            </a>
        </div>
    </article>
</div>