{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{%static 'css/output' %}">
</head>

<body>
    <div>
        <img src="{% static 'imgs/leas_login_logo.png' %}"
        alt="Logo do Laboratório de Engenharia Ambiental e Sanitária LEAS"
        classname="object-cover h-48 w-96">
        <div>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{field}}
                </div>
            {% endfor %}
            <div>
                <button type="submit">ENTRAR</button>
                <a href="//"> Esqueceu a senha? </a>
            </div>

        </div>
        </form>
        <div>
            <h1>Olá, Usuário!</h1>
            <h2>É seu primeiro acesso?</h2>
            <p>Realize seu cadastro para ter acesso as informações do LEAS.</p>
            <button>CADASTRE-SE AQUI</button>
        </div>
    </div>
</body>

</html>