{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login/register.css' %}">
    <title>Cadastro</title>
</head>

<body>
    {% include 'components/errorModal.html' %}
    <div class="container" id="container">
        <!-- Formulário de Cadastro -->
        <div class="formContainer">
            <img class="leas_logo" src="{% static 'imgs/leas_login_logo.png' %}" height="130" width="490" />
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                        {{ field }}
                {% endfor %}
                <div class="btns">
                    <button type="submit">CADASTRAR</button>
                </div>
            </form>
        </div>

        <!-- Saudação e Login -->
        <div class="Greetings-Login">
            <div class="Login-text">
                <h1 class="greet">Olá, Usuário!</h1>
                <h2>Bem vindo de volta</h2>
                <p>Realize seu Login para ter acesso às informações do LEAS</p>
                <a href="{% url 'login' %}" class="btn_login" id="login">FAÇA SEU LOGIN</a>
            </div>
        </div>
    </div>
</body>
</html>
