.list_movements {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    padding: 1.2rem;
    justify-content: space-between;
}

.movement_card {
    background-color: #CDFFD6;
    padding: .9rem;
    border: 1px solid #0A5517;
    border-radius: 10px;
    margin: .6rem;
}

.is_removed {
    background-color: #FFCFCF !important;
}

.responsible {
    display: flex;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.49);
    border-radius: 25px;
    align-items: center;
    padding: .4rem;
    margin-bottom: .8rem;
}

.responsible .img_perfil {
    background-color: #19882C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    font-weight: 600;
    margin-right: .4rem;
}

.personal_info .name {
    font-weight: 500;
}

.personal_info .sector {
    font-size: .85rem;
}

.movement_info {
    background-color: white;
}

.card_header {
    background-color: #19882C;
    color: white;
    font-weight: 600;
    text-align: center;
}

.movement_info .card_body {
    padding: .5rem;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.321);
    margin-bottom: 1rem;
}

.movement_info .card_body p {
    font-weight: 500;
}

.card_body .name_reagent {
    font-size: 1.2rem;
    color: #0A5517;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn_show_move {
    border-radius: 25px;
    width: 100%;
    padding: .6rem 0rem;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.268);
    transition: .3s;
    font-size: 1.1rem;
    background-color: #0A5517;
}

.is_removed_button {
    background-color: #FF3E3E !important;
}

.btn_show:hover {
    transform: scale(1.1);
}

.show_more {
    background-color: #0A5517;
    font-size: 1rem;
    padding: .1rem;
    margin-top: .3rem;
}

.request_m_btns {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    justify-content: space-between;
    color: white;
    font-weight: 500;
}

.request_m_btns button {
    font-weight: 600;
    color: white;
    padding: .3rem .6rem;
    border-radius: 15px;
    transition: .3s;
    margin: 0rem ;
}

.request_m_btns button:hover {
    transform: scale(1.1);
}

.approve {
    background-color: #58A365;
}

.disapprove {
    background-color: #FF3E3E;
}