{% extends 'components/base.html' %}
{% load static %}

{% block head %}
    <style>
        select{
            width: 100%;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>

    <style>
        #crud-modal {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        #crud-modal form {
            display: flex;
            flex-direction: column;
            box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
            padding: 2rem;
        }

        .form_header {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem ;
        }

        .form_header img {
            margin-right: .5rem;
            width: 40px;
        }

        .form_header h2 {
            font-weight: 400;
            font-size: 1.5rem;
        }

        #crud-modal form label {
            font-weight: 500;
            font-size: 14px;
        }

        #crud-modal form input, select, .select2 {
            border-radius: 5px !important;
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
            padding: .4rem .4rem;
            margin-bottom: 1.5rem;
            border: 1px solid #D9D9D9;
            width: 100% !important;
        }

        .select2 {
            padding: 0;
        }

        .group_inputs {
            display: flex;
            justify-content: space-between;
        }

        .group_inputs .field_div {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 22.5%;
        }

        .incompatibility {
            width: 100%;
        }

        #crud-modal .register_button {
            background-color: rgba(29, 138, 48, 1);
            color: white;
            padding: .7rem;
            border-radius: 15px;
            margin-top: 1rem;
            font-weight: 600;
        }

        @media screen and (min-width: 600px) and (max-width: 1024px) {
            .group_inputs {
                flex-direction: column;
                width: 100%;
            }

            .group_inputs .field_div {
                width: 100%;
            }
        }

        
        @media screen and (min-width: 200px) and (max-width: 600px) {
            .group_inputs {
                flex-direction: column;
                width: 100%;
            }

            .group_inputs .field_div {
                width: 100%;
            }
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}

    <main>
        {% include 'components/errorModal.html' %}
        <section class="mainSection">
            {% include 'components/page_indication/presentation.html' with page="Cadastrar itens no seu estoque" text="Nesta seção você poderá adicionar facilmente itens no seu sistema." %}

            <div id="crud-modal" tabindex="-1">
                <form class="" method="post">
                    {% csrf_token %}
                    <div class="form_header">
                        <img src="{% static 'imgs/icons/add.svg' %}" alt="">
                        <h2>Cadastro de Item</h2>
                    </div>

                    <div class="field_name field_div">
                        {{form.name.label_tag}}
                        {{form.name}}
                    </div>

                    <div class="group_inputs">
                        <div class="field_div">
                            {{form.formula.label_tag}}
                            {{form.formula}}
                        </div>
                        <div class="field_div">
                            {{form.classification.label_tag}}
                            {{form.classification}}
                        </div>
                        <div class="field_div">
                            {{form.state.label_tag}}
                            {{form.state}}
                        </div>
                        <div class="field_div">
                            {{form.size.label_tag}}
                            {{form.size}}
                        </div>
                    </div>

                    <div class="group_inputs">
                        <div class="field_div">
                            {{form.amount.label_tag}}
                            {{form.amount}}
                        </div>
                        <div class="field_div">
                            {{form.validity.label_tag}}
                            {{form.validity}}
                        </div>
                        <div class="field_div">
                            {{form.control.label_tag}}
                            {{form.control}}
                        </div>
                        <div class="field_div">
                            {{form.limit.label_tag}}
                            {{form.limit}}
                        </div>
                    </div>

                    <div class="">
                        {{form.is_active.label_tag}}
                        {{form.is_active}}
                    </div>

                    <div class="field_div incompatibility">
                        {{form.incompatibility.label_tag}}
                        {{form.incompatibility}}
                    </div>

                    <button type="submit" class="register_button"> CADASTRAR ITEM </button>
                </form>
            </div>
        </section>

        {% include 'components/sidebar.html' %}
    </main>


{% endblock %}

{% block scripts %}

{% endblock %}