{% extends 'components/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/liquids.css' %}">
{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}

    {% include 'components/movements/form_modal.html' %}
    <main>
        <section>
            {% include 'components/page_indication/welcome.html' with text='Sólidos' %}
            
            {% include 'components/search.html' %}
            
            <div class="container">
                <div class="tab-box">
                    <div class="tabs primary-tabs">
                        <button class="tab2-btn active" content-id="active"> Ativos</button>
                        <button class="tab2-btn" content-id="passive"> Passivos</button>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content active">
                        <div class="listReagents actives" id="active">

                            {% if active_solids|length > 0 %}
                                {% for grupo in active_solids %}
                                    {% for letter, reagents in grupo.items %}
                                        {% include 'components/group_reagents.html' %}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {% include 'components/no_results.html' %}
                            {% endif %}
                        </div>

                        <div class="listReagents passives none" id="passive">
                            {% if passive_solids|length > 0 %}
                                {% for grupo in active_solids %}
                                    {% for letter, reagents in grupo.items %}
                                        {% include 'components/group_reagents.html' %}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {% include 'components/no_results.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'components/sidebar.html' %}
    </main>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/alter_reagent_types.js' %}"></script>
{% endblock %}
