{% load static %}
{% load reports_tags %}
{% load static tailwind_tags %}
{% get_movement_form as movementForm %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>LabAssist</title>
    {% tailwind_css %}
    <!-- Tudo que for carregado em todas as páginas pode colocar fora do bloco -->
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}

    <!-- Tudo que for carregado em todas as páginas pode colocar fora do bloco -->
    {% block scripts %}
    {% endblock %}
</body>

</html>