{% load static %}
{% load reports_tags %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>LabAssist</title>
    {% tailwind_css %}
    <!-- Tudo que for carregado em todas as páginas pode colocar fora do bloco -->

    <style>
        main {
            display: grid;
            grid-template-columns: 80% 20%;
        }
    </style>
    
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}

    <!-- Tudo que for carregado em todas as páginas pode colocar fora do bloco -->
    {% block scripts %}
    {% endblock %}
</body>

</html>