{% load static %}

{% if errors %}
    <style>
        
        main {
            position: relative;
        }
        /* error */
        @keyframes surgir {
            from{
                left: -50%;
            }

            to{
                left: 1%;
            }
        }

        @keyframes voltar {
            from{
                left:1%
            }
            to{
                left: -50%
            }
        }

        .alert{
            z-index: 1;
            top: 2%;
            left: 1%;
            padding: 7px;
            border-radius: 10px;
            position: absolute;
            width: 25%;
            animation: surgir 1s;
            display: flex;
            flex-direction: column;

            background-color: #fa7f72;
            border-color: #fa7f72;
        }

        .alertHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .alertHeader img {
            transition: .3s;
        }

        .alertHeader img:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
        .alert h3 {
            font-weight: 600;
            font-size: 1.1rem;
        }

        .sumir{
            animation: voltar 1s;
            transition: 1s;
            opacity: 0;
        }
    </style>

    <!-- Main modal -->
    <div class="alert">
        <!-- Modal header -->
        <div class="alertHeader">
            <h3 class="">
                ERROR!
            </h3>
            
            <img src="{% static 'imgs/icons/X.svg' %}" alt="" onclick="fecharError()">
        </div>

        {% for error in errors %}
            <p class="">
                {{error}}
            </p>
        {% endfor %}
    </div>

    <script>
        function fecharError() {
            document.querySelector(".alert").classList.add("sumir")
        }
    </script>
{% endif %}