{% if errors %}
    <style>
        .modal {
            background: rgba(254,140,140,255);
        }

        .modal-h3 {
            color: rgba(30,30,30,255);
        }
    </style>
    <!-- Main modal -->
    <div class="relative p-4 w-full max-w-xl max-h-full">
        <!-- Modal content -->
        <div class="modal relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex flex-col items-center justify-between p-4 pb-0 rounded-t dark:border-gray-600">
                <h3 class="modal-h3 pt-8 text-3xl font-semibold text-gray-900 dark:text-white">
                    ERROR REQUEST!
                </h3>
                <p class="text-base p-1 leading-relaxed text-black">
                    Ocorreu algum erro na sua ação
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex flex-col items-center pr-4 pb-12 pl-4 pt-1 rounded-b dark:border-gray-600">
                <button data-modal-hide="static-modal" type="button"
                    class="shadow text-black bg-white hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-28 py-2.5 text-center">
                    CONTATE O SUPORTE</button>
            </div>
        </div>
    </div>
{% endif %}