{% load static %}

<style>
    .list_reagents {
        display: grid;
        grid-template-columns: 4% 96%;
    }

    .letter {
        background-color: #CDFFD6;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #074912 1px solid;
    }

    .letter h2 {
        text-decoration: underline;
        font-weight: 600;
        font-size: 1.4rem;
    }

    .group_reagents {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: #074912 1px solid;
    }

    @media screen and (min-width: 600px) and (max-width: 1024px) {
        .list_reagents {
            display: grid;
            grid-template-columns: 10% 90%;
        }
    }

    @media screen and (min-width: 375px) and (max-width: 600px) {
        .list_reagents {
            display: grid;
            grid-template-columns: 10% 90%;
        }
    }

</style>


<div class="{{letter}} list_reagents">
    <div class="letter">
        <h2>{{ letter }}</h2>
    </div>

    <div class="group_reagents">
        {% for reagent in reagents %}
            {% include 'components/reagent.html' %}
        {% endfor %}
    </div>

</div>