<nav class="navbar">
    <div class="header bg-gradient-to-r border-b border-black flex items-center pb-3">
        <img class="ml-5 mt-3 mr-3" width="45px" height="45px" src="/media/images/logo_ifce2 2.png" alt="">
        <h1 class="flex justify-start text-5xl text-white underline">LEAS</h1>
        <div class="flex mr-12 justify-end w-full items-center">
            <div class="bg-white mt-3 bg-opacity-40 pt-2 pb-2 rounded-full decoration-white">

                <a class="ml-8 mr-3 group relative w-max" href="http://" target="_blank" rel="noopener noreferrer">
                    <span>Início</span>
                    <span
                        class="absolute -bottom-0 left-0 w-0 transition-all h-0.5 bg-white group-hover:w-full"></span>
                </a>

                <a class="m-2 group relative w-max" href="http://" target="_blank" rel="noopener noreferrer">
                    <span>Estoque</span>
                    <span
                        class="absolute -bottom-0 left-0 w-0 transition-all h-0.5 bg-white group-hover:w-full"></span>
                </a>

                <a class="m-2 group relative w-max" href="http://" target="_blank" rel="noopener noreferrer">
                    <span>Relatórios</span>
                    <span
                        class="absolute -bottom-0 left-0 w-0 transition-all h-0.5 bg-white group-hover:w-full"></span>
                </a>

                <a class="m-2 group relative w-max" href="http://" target="_blank" rel="noopener noreferrer">
                    <span>Movimentações</span>
                    <span
                        class="absolute -bottom-0 left-0 w-0 transition-all h-0.5 bg-white group-hover:w-full"></span>
                </a>

                <a class="m-2 mr-4 group relative w-max" href="http://" target="_blank" rel="noopener noreferrer">
                    <span>Nulo</span>
                    <span
                        class="absolute -bottom-0 left-0 w-0 transition-all h-0.5 bg-white group-hover:w-full"></span>
                </a>

                <button
                    class="btn-login btn mr-2 !pr-6 !pl-6 border border-black relative inline-flex items-center justify-start overflow-hidden font-medium transition-all bg-white rounded-2xl hover:bg-gray-100 group py-1 px-2.5">
                    <span
                        class="w-56 h-48 rounded bg-gray-300 absolute bottom-0 left-0 translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"></span>
                    <span
                        class="relative w-full font-bold text-left text-black transition-colors duration-300 ease-in-out">
                        LOGIN
                    </span>
                </button>

                <button
                    class="btn-cadastro mr-3 btn border border-black relative inline-flex items-center justify-start overflow-hidden font-medium transition-all bg-green-800 rounded-2xl hover:bg-green-900 group py-1 px-2.5">
                    <span
                        class="w-56 h-48 rounded bg-green-950 absolute bottom-0 left-0 translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"></span>
                    <span
                        class="relative w-full font-bold text-left text-white transition-colors duration-300 ease-in-out group-hover:text-white">
                        CADASTRAR
                    </span>
                </button>
            </div>
        </div>
    </div>
</nav>

<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
}

.header {
    background: rgb(32, 140, 44);
    background: linear-gradient(90deg, rgba(32, 140, 44, 1) 0%, rgba(88, 156, 100, 1) 100%);
}
</style>