{% load static %}

<link rel="stylesheet" href="{% static 'css/reagents/card.css' %}">

<div class="reagent">
    <div class="top">
        <p>ITEM</p>
    </div>

    <div class="body">
        <div class="card_info">
            <h3 class="reagent_name">
                {{reagent.info.name}}
            </h3>
            <div class="details">
                <p>{{reagent.info.formula}} <!--{{reagent.amount}}--></p>
                <p>{{reagent.info.classification}}</p>
            </div>

            <div class="btns">
                <button class="btn_show" card_id="reagent{{reagent.info.id}}">
                    VER MAIS
                </button>
            </div>

            {% include 'components/reagent/modal.html' %}
        </div>
    </div>
</div>