<aside id="default-sidebar"
   class="fixed top-0 right-0 z-40 w-72 h-screen transition-transform -translate-x-full sm:translate-x-0"
   aria-label="Sidebar">
   <div class="sidebar h-full px-3 py-4 overflow-y-auto">
      <a href="#" class="flex items-center ps-2.5 mb-5">
         <svg xmlns="http://www.w3.org/2000/svg" class="me-3" width="44" height="44" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3" />
            <circle cx="12" cy="10" r="3" />
            <circle cx="12" cy="12" r="10" />
         </svg>
         <div class="flex justify-start flex-col w-28 m-0">
            <span class="text-xl font-semibold">$User</span>
            <span class="adm text-xs green">Administrador</span>
         </div>
         <button
            class="btn-cadastro mr-3 btn relative inline-flex items-center justify-start overflow-hidden font-medium transition-all bg-green-800 rounded-2xl hover:bg-green-900 group py-1 px-4">
            <span
               class="w-56 h-48 rounded bg-green-950 absolute bottom-0 left-0 translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"></span>
            <span
               class="relative w-full font-bold text-white transition-colors duration-300 ease-in-out group-hover:text-white">
               SAIR
            </span>
         </button>
      </a>
      <ul class="space-y-2 font-medium">
         <li class="">Mensagens</li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-black rounded-lg hover:bg-white dark:hover:bg-white hover:shadow-lg">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M21.5 12H16c-.7 2-2 3-4 3s-3.3-1-4-3H2.5" />
                  <path
                     d="M5.5 5.1L2 12v6c0 1.1.9 2 2 2h16a2 2 0 002-2v-6l-3.4-6.9A2 2 0 0016.8 4H7.2a2 2 0 00-1.8 1.1z" />
               </svg>
               <span class="ms-3">Pendências</span>
               <span
                  class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-green-100 rounded-full dark:bg-green-900 dark:text-blue-300">3</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-black rounded-lg hover:bg-white dark:hover:bg-white hover:shadow-lg"">
               <svg xmlns=" http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <circle cx="12" cy="12" r="10"></circle>
               <line x1="12" y1="8" x2="12" y2="16"></line>
               <line x1="8" y1="12" x2="16" y2="12"></line>
               </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Cadastrar Item</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-black rounded-lg hover:bg-white dark:hover:bg-white hover:shadow-lg"">
               <svg xmlns=" http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <line x1="3" y1="12" x2="21" y2="12"></line>
               <line x1="3" y1="6" x2="21" y2="6"></line>
               <line x1="3" y1="18" x2="21" y2="18"></line>
               </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Administrar Estoque</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-black rounded-lg hover:bg-white dark:hover:bg-white hover:shadow-lg"">
               <svg xmlns=" http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
               <circle cx="9" cy="7" r="4"></circle>
               <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
               <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
               </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Administrar Usuários</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-black rounded-lg hover:bg-white dark:hover:bg-white hover:shadow-lg"">
               <svg xmlns=" http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
               <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
               </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Relatórios</span>
            </a>
         </li>
         <li>
            <a href="#"
               class="flex items-center p-2 text-black rounded-lg hover:bg-white dark:hover:bg-white hover:shadow-lg"">
               <svg xmlns=" http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <path d="M17 2.1l4 4-4 4" />
               <path d="M3 12.2v-2a4 4 0 0 1 4-4h12.8M7 21.9l-4-4 4-4" />
               <path d="M21 11.8v2a4 4 0 0 1-4 4H4.2" />
               </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Movimentações</span>
            </a>
         </li>
         <li>
            <a href="#" class="flex items-center p-2 text-black rounded-lg hover:bg-white dark:hover:bg-white hover:shadow-lg">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M3 3h18v18H3zM8 12h8" />
               </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Sólidos</span>
            </a>
         </li>
         <li>
            <a href="#" class="flex items-center p-2 text-black rounded-lg hover:bg-white dark:hover:bg-white hover:shadow-lg">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M3 3h18v18H3zM8 12h8" />
               </svg>
               <span class="flex-1 ms-3 whitespace-nowrap">Líquidos</span>
            </a>
         </li>
      </ul>
   </div>
</aside>

<style>
   .sidebar {
      background-color: rgb(202, 244, 209);
   }

   .adm {
      color: green;
   }
</style>