{% load static %}


<aside>
   <div class="perfil">

   </div>

   <div class="geralLinks">
      <a href="">
         <img src="{% static 'imgs/icons/pendencias.svg' %}" alt="">
         <p>Pendências</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/add.svg' %}" alt="">
         <p>Cadastrar Reagente</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/admin_estoque.svg' %}" alt="">
         <p>Administrar Estoque</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/users.svg' %}" alt="">
         <p>Administrar Usuários</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/relatorios.svg.png' %}" alt="">
         <p>Relatórios</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/movimentações.svg' %}" alt="">
         <p>Movimentações</p>
      </a>
   </div>

   <div class="liquids">
      <p>Líquidos</p>

      <a href="">
         <img src="{% static 'imgs/icons/estoque.svg' %}" alt="">
         <p>Ativos</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/estoque.svg' %}" alt="">
         <p>Passivos</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/estoque.svg' %}" alt="">
         <p>Soluções</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/estoque.svg' %}" alt="">
         <p>Visão Geral</p>
      </a>
   </div>

   <div class="solids">
      <p>Sólidos</p>

      <a href="">
         <img src="{% static 'imgs/icons/estoque.svg' %}" alt="">
         <p>Ativos</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/estoque.svg' %}" alt="">
         <p>Passivos</p>
      </a>

      <a href="">
         <img src="{% static 'imgs/icons/estoque.svg' %}" alt="">
         <p>Visão Geral</p>
      </a>
   </div>


</aside>